@import './intro.scss';
@import './content.scss';




.main{
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100vh;
	scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


.main__section{
	scroll-snap-align: start;
	min-height: 100vh;
}