@use "sass:map";
// ------------ vars ------------

$max-width: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$min-width: 360px;


@function color($name){
	$colors: (
		"1": #FFFFFF,
		"2": #2E5262,
		"3": #80BA57,
		"4": #C34950,
	);

	@return map.get($colors, $name);
} 


@function gradient($name){
	$gradients: (
		"1": linear-gradient(to top, #469597, #5BA199),
	);

	@return map.get($gradients, $name);
} 


// ----------- mixins ----------

@mixin hover {
	&:not([disabled]):hover {	@content;}
}

@mixin square($size, $radius: 0) {
	width: $size; min-width: $size; max-width: $size;
	height: $size; min-height: $size; max-height: $size;
	border-radius: $radius;
}


@mixin active-anim($all: 0.2s){
	transition: scale 0.15s, all $all;	&:active{ scale: 0.9; }
}
